doctype html
html(lang="en")
  head
    title Note App
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/font-awesome.min.css")
  body
    nav
      h2 Note-App
      a.new-note(href="#noteModal" rel="modal:open") New Note
    .container
      if(notes.length == 0)
        div.no-notes Notes not found try adding one!
      each note in notes
        article.note(id=`${note._id}` style=`background: ${note.bgColor}`)
          .note-options
            a.icon(href=`/delete/${note._id}` title="Delete")
              <i class="fa fa-trash" aria-hidden="true"></i>
            a.icon.edit(href="#noteModal" rel="modal:open" title="Edit" data-id=`${note._id}` data-content=`${note.content}` data-bg=`${note.bgColor}`)
              <i class="fa fa-pencil" aria-hidden="true"></i>
          .note-content
            | #{note.content}
  div#noteModal(class="modal")
    h3#modalTitle Add Note
    form#noteForm(action="")
      input#noteId(type="hidden" name="noteId")
      textarea#noteContent(name="noteContent")
      div.bgContainer
        - let backgrounds = ['rgb(239, 153, 217)', 'rgb(168, 239, 153)', 'rgb(151, 194, 237)', 'rgb(232, 248, 159)', 'rgb(255, 214, 163)']
        - let index = 0
        each background in backgrounds
          .bgColor(data-bg=`${background}` style=`background: ${background}` class=`${index == 0 ? 'active' : ''}`)
          - index++
      div.modal-footer
        div
          a#cancel.button.red(rel="modal:close") Cancel
          button.green Save
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css")
    script.
      $('.note').on('click', '.edit', function(){
        var $this = $(this)
        $('#noteId').val($this.data('id'))
        $('#noteContent').val($this.data('content'))
        $('.bgColor').removeClass('active')
        $('.bgColor').each(function(element){
          var $that = $(this)
          if($that.css('background-color').trim() == $this.data('bg')){
            $that.addClass('active')
          }
        })
      })
      $('.new-note').on('click', function(){
        $('#noteId').val('')
        $('#noteContent').val('')
        $('.bgColor').removeClass('active')
        $('.bgColor').first().addClass('active')
      })
      $('.bgColor').on('click', function(){
        var $this = $(this)
        $this.siblings().removeClass('active')
        $this.addClass('active')
      })
      $('#noteForm').on('submit', function(event){
        event.preventDefault()
        var dataArray = $(this).serializeArray()
        var dataObject = {}
        $.map(dataArray, function(element, i){
          dataObject[element['name']] = element['value']
        })
        dataObject['noteBg'] = $('.bgColor.active').css('background-color')
        $.post('/savenote', dataObject, function(response){
          if(response.success){
            var data = response.data
            if(dataObject.noteId != ''){
              $this = $('#'+dataObject.noteId)
              var $edit = $this.children().find('.edit')
              $edit.data('content', dataObject.noteContent)
              $edit.data('bg', data.bgColor)
              $this.attr('style', "background: "+dataObject.noteBg)
              $this.children('.note-content').html(dataObject.noteContent)
            } else {
              var childrenCount = $('.no-notes').length
              if(childrenCount != 0){
                $('.no-notes').remove()
              }

              $('.container').prepend(
                '<article class="note" style="background: '+data.bgColor+'">'
                  +'<div class="note-options">'
                  +'<a class="icon" href="/delete/'+data._id+'" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>'
                  +'<a class="icon" href="#noteModal" rel="modal:open" title="Edit" data-id="'+data._id+'"><i class="fa fa-pencil" aria-hidden="true"></i></a>'
                  +'</div>'
                  +'<div class="note-content">'+data.content+'</div>'
                +'</article>'
              )
            }
            
            $('#cancel').click()
          }
        })
      })