* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #fcfcfc;
  font-family: 'Roboto', sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background: #efefef;
}

.new-note {
  display: block;
  margin-left: auto
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

article.note {
  margin-left: 1rem;
  margin-top: 1rem;
  flex: 1 0 21%;
  max-width: 200px;
  min-height: 200px;
  overflow: auto;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

article.note:hover {
  box-shadow: 0 2px 8px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.note-options {
  display: flex;
  flex-direction: row-reverse;
  background: rgba(255, 255, 255, .6);
}

.note-content {
  padding: 1rem;
}

.icon {
  display: inline-block;
  padding: .3rem;
  color: #444444;
  text-decoration: none;
}

.icon:hover {
  color: #000;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99999;
}

#noteContent {
  width: 100%;
  height: 200px;
}

.modal-footer {
  display: flex;
}
.modal-footer div {
  margin-left: auto;
}

button, #cancel{
  padding: .5rem;
  margin-left: .5rem;
}

#cancel {
  cursor: pointer;
}

button.green {
  background: rgb(68, 199, 103);
  border: 1px solid rgb(24, 171, 41);
}

.bgContainer {
  display: flex;
  width: 100%;
  padding: .5rem;
  margin-bottom: 1rem;
}

.bgColor {
  margin-right: .5rem;
  width: 20px;
  height: 20px;
  background: #fff;
}

.bgColor.active {
  border: 2px solid #444;
}

.no-notes {
  margin: auto;
  margin-top: 10%;
}